<%
@title = "About Chiive"
%>
<h1>About Chiive</h1>

<p>Why did we make Chiive?  To put it simply, sharing photos isn’t very smart right now. It’s kinda stuck in the past. We’re already taking photos with our phones when we’re with our friends and we know that organizing and sharing those pictures still takes a lot of manual effort. </p>

<p>We knew there was a way to take our daily experiences and make them relevant by closing the gap between the virtual and the real world in a simple, organic way.</p>
<p>So, after lots of experimentation Chiive was born. We hope it’ll be your new camera. Your new smart camera on your already smart phone. Chiive knows who you are, who you actually hang out with in the real world, and how to store your digital memories and those of your friends in a way you’ll actually see and share them. </p>
<p>Chiive is available for iPhone in the App store. <a href="/iphone" target="_blank">Get it now!</a></p>