<%
@title = "Get Updates"
%>
<h1>Receive Updates</h1>

<div id="getupdates">

	<p class="intro">Sign up for updates and get all the latest Chiive news!</p>
	
	<form action="get-updates.php" method="post" id="getupdates_form">
		<div>
			<input type="text" class="type_text" value="First Name (Required)" data-value="First Name (Required)" id="fname" name="fname" />
			<input type="text" class="type_text" value="Last Name" data-value="Last Name" id="lname" name="lname" />
			<input type="text" class="type_text" value="Email address (Required)" data-value="Email address (Required)" id="email" name="email" />
			
			<input type="image" src="images/copy/btn_submit.png" alt="Submit" value="Submit" class="submit" />
								
			<p class="spam">We hate spam and will NEVER send it.</p>
		</div>
	</form>
	
</div>