<%
@page_type = "product_info"
@title = "Product Info"
%>
<h1>Product Info</h1>

<p class="intro">Chiive lets you create collaborative photo galleries based on where you are<br />and whom you're with.</p>

<div style="position: relative; margin-left: -60px; width: 693px; height: 470px;">
	<img src="/images/copy/info_overview_bg.png" alt="Background" />
	<img src="/images/copy/info_overview_screen1.jpg" alt="Nearby Events" style="position: absolute; top: 34px; left: 63px;" />
	<img src="/images/copy/info_overview_screen2.jpg" alt="Sunday at Dolores Park" style="position: absolute; top: 65px; left: 340px;" />
</div>

<p>&nbsp;</p>

<h3>Chiive uses your location and proximity to friends to enable instantly gratifying photo gathering in the real world.</h3>

<p>It's simple. Start or join an event, snap a picture and voil&agrave;! everyone's pictures are automatically grouped into one gallery. No more pictures lost in the ether.</p>

<ul>
	<li>Missed the shot? Don't worry. Someone got it and you've got it too.</li>
	<li>Organize all your pictures by where you were and whom you were with.</li>
	<li>All your pictures are saved to your camera roll and automatically backed-up.</li>
	<li>Looks and feels like your phone's camera.</li>
</ul>

<img src="/images/copy/info_before_after.png" alt="Before and After" />

<p>&nbsp;</p>

<h3>Comment and Share.</h3>

<ul>
	<li>Follow events updated in real time.</li>
	<li>Share pictures to social networks and by email.</li>
	<li>Start conversations around pictures.</li>
	<li>Sign up using Facebook Connect.</li>
</ul>

<div style="position: relative; width: 727px; height: 522px;">
	<img src="/images/copy/info_comments_bg.png" alt="Background" />
	<img src="/images/copy/info_comments_screen1.jpg" alt="Comments Screen" style="position: absolute; top: 29px; left: 184px;" />
</div>

<p>&nbsp;</p>

<h3>And we're working on a host of new features that are gonna blow your mind:</h3>

<ul>
	<li>A custom photo App on Facebook</li>
	<li>More ways to share photos</li>
	<li>An updated website with all your pics and people. Coming soon!</li>
</ul>

<p>
	Thanks for your interest in Chiive. We hope you enjoy using it.<br/>
	Chiive, All Your Friends. One Camera.
</p>