<%
@title = "Terms of Service"
%>
<h1>Terms of Service</h1>

<p class="intro">These Terms of Service, together with Chiive’s Privacy Policy and Copyright Policy (collectively, the “Agreement”) govern your use of the Chiive website, <a href="http://www.chiive.com/">www.chiive.com</a> (the “Site”), and service (collectively, the site and service are referred to herein as the “Service”).  Please read the Agreement carefully.  By registering for and using the Service, you agree to be legally bound by all of the terms and conditions of the Agreement, without modification. </p>

<br />
<h3>Conduct and Use of the Service</h3>
<br />
<p>Chiive provides the Service to you for your own personal, noncommercial use.  You agree not to use the Service for any purpose prohibited by this Agreement.  For example, you shall not:</p>
<ul>
	<li>Post any material on Chiive that infringes or violates someone else’s rights or otherwise violates the law.</li>
	<li>Post any material that is harmful, threatening, abusive, harassing, tortious, defamatory, libelous, vulgar, false, inaccurate, misleading, obscene, pornographic, hateful, discriminatory, invasive of  another person’s privacy, or racially, ethnically or otherwise objectionable.</li>
	<li>Post any material that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any person or entity.</li>
	<li>Impersonate any person or entity.</li>
	<li>Intentionally or unintentionally violate any applicable local, state, national or international law.</li>
	<li>Post any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, or any other form of solicitation.</li>
	<li>Engage in commercial activity.</li>
	<li>Interfere with the normal operation of the Service or impose a disproportionately large load on the infrastructure of the Service or its associated hardware or telecommunications equipment. </li>
	<li>Use automated software or any other process, such as harvesting bots, robots, spiders or scrapers, to “crawl” any page of the Chiive website or “scrape” content from the Chiive website.</li>
	<li>Encourage, solicit or facilitate others to violate this Agreement. </li>
</ul>
<p>The foregoing list of prohibited activities is by way of example only and is not exclusive.</p>
<br />
<h3>Ownership of Content</h3>
<br />
<p>You retain any intellectual property rights that you own in any material that you submit to the Service.  When you submit material subject to intellectual property rights to the Service, you grant the Service an irrevocable, nonexclusive, perpetual, transferable, sublicenseable, royalty-free worldwide license, in any medium now known or hereafter developed, to use, reproduce, distribute, publicly display, publicly perform, and prepare derivative works based on the material.  We will not use images on the homepage for promotional purposes.</p>
<br /><p>Chiive owns the intellectual property rights to the Service, including copyrights, trademarks, service marks, trade secrets, patents and other proprietary rights.  You shall not use, reproduce, distribute, publicly display, publicly perform, or prepare derivative works based on material covered by Chiive’s intellectual property rights (including the Chiive name and logo) without Chiive’s express written permission. </p>

<br /><h3>Registration and Account Security</h3><br />


<p>You agree to provide Chiive with accurate registration information and to keep that information up to date.  You shall not provide false personal information, impersonate another person or entity, or use as your username a name that is offensive, misleading or that infringes the rights of another (such as by using a name that is the trademark of, or is confusingly similar to the trademark of, another).  Chiive reserves the right, in its sole discretion, to refuse registration of, or cancel, a username. </p><br />
<p>You are responsible for all activity occurring in connection with your account.  You shall not disclose your password, allow others to access the Service using your account, or otherwise compromise the security of your account.  You shall not access the account of another without the account holder’s express permission. </p><br />
<p>You may not use the Service if you are under the age of 13.  By registering for and using the Service, you represent and warrant that you are age 13 or older.  </p>


<br /><h3>Links to Third-Party Websites</h3><br />

<p>The Service may provide links to third-party websites that Chiive does not own or control.  Chiive is not responsible for the content of these third-party websites.  Chiive’s inclusion of such links does not imply any endorsement of the material on such sites or of their owners or operators.  </p>



<br /><h3>Disclaimer of Warranties and Limitation of Liability</h3><br />

<p>CHIIVE PROVIDES THE SERVICE “AS IS” AND DISCLAIMS ANY AND ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.  YOU USE THE SERVICE AT YOUR OWN RISK.  CHIIVE DOES NOT WARRANT OR REPRESENT THAT THE SERVICE WILL BE SAFE, SECURE, FREE FROM VIRUSES OR OTHER DEFECTS, OR AVAILABLE AT ANY GIVEN TIME OR PLACE.  SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, SO THE FOREGOING DISCLAIMER MAY NOT APPLY TO YOU. </p><br />
<p>CHIIVE WILL NOT BE LIABLE FOR ANY LOST PROFITS OR OTHER SPECIAL, CONSEQUENTIAL, INDIRECT, INCIDENTAL OR PUNITIVE DAMAGES RELATING TO OR ARISING FROM THE AGREEMENT OR THE SERVICE.  CHIIVE’S AGGREGATE LIABILITY RELATING TO OR ARISING FROM THE AGREEMENT AND THE SERVICE IS LIMITED TO ONE HUNDRED DOLLARS ($100).  SOME JURISDICTIONS DO NOT ALLOW SUCH LIMITATION OF LIABILITY, SO THE FOREGOING LIMITATION MAY NOT APPLY TO YOU.  IN SUCH CASES, CHIIVE’S LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT ALLOWED BY APPLICABLE LAW. </p><br />
<p>CHIIVE WILL NOT BE LIABLE FOR FAILURE TO PERFORM ITS OBLIGATIONS UNDER THE AGREEMENT WHERE SUCH FAILURE RESULTS FROM EVENTS BEYOND CHIIVE’S CONTROL, SUCH AS ACTS OF WAR, ACTS OF GOD, ACTS OF TERRORISM, ACTS OF NATURE, OR MECHANICAL, ELECTRONIC OR COMMUNICATIONS FAILURE OR DEGRADATION.</p><br />
<p>CHIIVE IS NOT RESPONSIBLE FOR THE ACTIONS OF THIRD PARTIES.  YOU RELEASE CHIIVE, ITS DIRECTORS, MEMBERS, OFFICERS, SHAREHOLDERS, EMPLOYEES, PREDECESSORS, SUCCESSORS, ASSIGNS, AFFILIATES, RELATED ENTITIES, AGENTS, SERVICE PROVIDERS AND ATTORNEYS FROM ANY AND ALL CLAIMS, DAMAGES, LOSSES AND EXPENSES OF ANY KIND (INCLUDING ATTORNEYS’ FEES), WHETHER KNOWN OR UNKNOWN, RELATING TO OR ARISING FROM THE ACTIONS OR INACTION OF THIRD PARTIES.  IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE THE PROVISIONS OF CALIFORNIA CIVIL CODE § 1542, WHICH STATES: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.” </p>


<br />
<h3>Modification of Agreement</h3>
<br />
<p>The Agreement may only be modified in writing signed by Chiive.  Chiive may revise the Agreement from time to time.  We will post a copy of the Agreement as modified on the Chiive site, and notify subscribers if significant changes have been made.  We recommend that you check the Agreement periodically to determine whether it has been modified. </p>
<br />
<h3>Integration</h3>
<br />
<p>The Agreement is the entire Agreement between you and Chiive, and supersedes all prior agreements. </p>
<br />
<h3>Dispute Resolution, Choice of Law and Indemnification</h3>
<br />
<p>You agree to resolve any and all disputes relating to or arising out of the Agreement exclusively in state or federal court in the County of San Francisco.  The laws of the State of California, without regard to choice of law provisions, will govern the Agreement and the resolution of any such disputes.  You agree to submit to the personal jurisdiction of the state and federal courts located in the County of San Francisco to resolve any such disputes. </p>
<br />
<p>You agree to indemnify and hold harmless Chiive, and its directors, members, officers, shareholders, employees, predecessors, successors, assigns, affiliates, related entities, agents, service providers and attorneys for any claims, damages, losses and expenses of any kind (including attorneys’ fees) arising from your use of the Service. </p>
<br />
<h3>Termination</h3>
<br />
<p>You may terminate your account at any time. By deleting an account all content related to that user will be deleted immediately.</p>
<br />
<p>Chiive reserves the right, in its sole discretion, to suspend or terminate the account of any subscriber who violates the Agreement.  Chiive further reserves the right, in its sole discretion, to suspend or terminate the account of any subscriber who repeatedly violates the intellectual property rights of others, as set forth more fully in Chiive’s Copyright Policy.  Certain provisions of the Agreement, including those governing privacy, intellectual property, warranties, indemnifications and liability, will survive termination of the Agreement. </p>
<p><br />
</p>
<h3>Severability</h3>
<br />
<p>If any portion of the Agreement is found to be invalid or unenforceable, the remaining portions of the Agreement shall remain fully valid and enforceable.  </p>
<p><br />
</p>
<h3>Contact<br />
</h3>
<p>You may contact Chiive as follows:</p>
<p>By mail: <br />
 Chiive, LLC<br />
 256 Sutter Street, 5th  Floor<br />
 San Francisco, CA 94108 <br />
 By email: 
 <script type="text/javascript">
	//<![CDATA[
	<!--
	var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
	"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
	" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!69{)rt{y+xx=l;=+;" +
	"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
	"\"(4),6\\\"\\\\'#<--6>sb,na\\\"\\\\\\\\\\\\|na`eokEle>h\\\\\\\\\\\\\\\\^!G'" +
	"34\\\\04\\\\02\\\\\\\\03\\\\07\\\\03\\\\\\\\01\\\\0T\\\\.Q34\\\\07\\\\03\\\\"+
	"\\\\14\\\\0@\\\\10\\\\02\\\\03\\\\\\\\02\\\\03\\\\00\\\\\\\\01\\\\03\\\\01\\"+
	"\\\\\\t'\\\\\\\\03\\\\0n\\\\\\\\\\\\\\\\nX\\\\16\\\\04\\\\02\\\\\\\\731<6y0" +
	"0\\\\\\\\>d$2t=n2xs\\\\!\\\\\\\"(\\\\\\\\8\\\\\\\"8\\\\f>(3) !6$.\\\"\\\\f(" +
	";} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%){++;i<l;i=" +
	"0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"          ;
	while(x=eval(x));
	//-->
	//]]>
	</script>
</p>


<p><br />
</p>
<h3>Effective Date<br />
</h3>
<p>April 23, 2010.</p>