<h2>Photos By:</h2>

<% @personal_sets.each do |personal_set| %>
	<div class="entry">
	  <%= fb_user_avatar(personal_set.user, :width => 35, :height => 35) %>
		<p><strong>
		  <%= fb_user_name(personal_set.user) %>
		  </strong><br />
		  <%= personal_set.posts_count %> photos
		</p>
	</div>
<% end %>	

<%= custom_will_paginate(@personal_sets, :id => 'user_pages', :style => 'margin: 10px 0;', :param => :users_page, :only_pages => true) %>

<script type="text/javascript" charset="utf-8">
  foreach(document.getElementById('user_pages'), 'a', function(e) {
    ajaxify_link(e, 'photosby', 'ajaxloader2');
  });
</script>
