<% title "Edit User" %>

<%= render @user %>

<% if @user.facebook_uid.nil? %>
	<p>Connect your account to facebook!</p>
	<%= fb_login_button('window.location = "/users/link_user_accounts";')%>
	<br />
	<br />
	<br />
<% end %>

<%= render :partial => 'form', :locals => { :title => 'Edit Account Info' } %>

