<% title "Edit Posts" %>

<%= render :partial => 'form' %>

<br />
<p>
  <%= link_to "Cancel", user_post_path(@post.user, @post) %> |
  <%= link_to "View All", user_social_sets_path(@post.user) %>
</p>
