
	<div id="anchor">
	<% if user.nil? %>
		<h2><strong>Latest Updates</strong></h2>
	<% else %>
		<% if user == current_user %>
			<div class="button">
				<%= link_to "+ new Post", new_user_post_path(current_user), :onclick => "	$.ajax({url: '#{new_user_post_path(current_user)}', dataType: 'script'}); return false;" %>
			</div>
			
			<div class="button" style="padding-right:10px;">
				<%= link_to "+ New EVENT", new_user_social_set_path(current_user), :onclick => "	$.ajax({url: '#{new_user_social_set_path(current_user)}', dataType: 'script'}); return false;" %>
			</div>
		<% end %>
		
		<h2>
			<strong><%=h user.pretty_name %>'s</strong> Journal
		</h2>
		
		<h5>
			<%=h user.latest_stats %>
		</h5>
		
		<!-- NEW POST -->
			<% if user and (user == current_user or user.login == '17feet') %>
					<div class="clear"><!-- --></div>
					
					<div id="new_post_form"></div>
			<% end %>
		<!-- end: NEW POST -->
		
	<% end %>
	</div>
	
