<div class="clearfix">
  <% @posts.each do |post| %>
    <%= link_to image_tag(post.photo.url(:iphone_preview), :style => 'width: 80px;'), [social_set, post] %>
  <% end %>
</div>

<%= custom_will_paginate(@posts, :id => 'post_pages', :param => :posts_page) %>

<script type="text/javascript" charset="utf-8">
  foreach(document.getElementById('post_pages'), 'a', function(e) {
    ajaxify_link(e, 'photos_container');
  });
</script>
