html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 				0;
	padding: 				0;
	border: 				0;
	outline: 				0;
	font-size: 				100%;
	vertical-align:			baseline;
	background: 			transparent;
}
* {
	font-family: 			arial, helvetica, sans-serif;
}

html {
	font-size: 				50%; /* Part one of 1em = 10px */
	height:					100%;
}

body {
	line-height: 			1;
	
	font-size: 				125%; /* Part two of 1em = 10px */
	
	/*part 1 of centering hack*/
	text-align: 			center;	
	
	height:					100%;
	padding:				0 0 1px 0;
}

a {
	text-decoration:		none;
	color:					#1fceec;
	font-weight:			bold;
}
a:hover {
	text-decoration:		underline;
}

 /* Good to have global classes
--------------------------------*/
.floatright {
	float: 					right;
}
.floatleft {
	float: 					left;
}

.alignright {
	text-align:				right;
}
.half {
	width:					48%;
}
.hide {
	display:				none;
}
.nobg {
	background:				none !important;
}
.noborder {
	border:					0 !important;
}
.nomargin {
	margin:					0 !important; 
}


 /* MAIN CONTAINER
--------------------------------------------------------------------*/
#body {
	text-align: 			center;
}

div.wrapper {
	position:				relative;

	width: 					320px;
	
	/*part 2 of centering hack*/
	text-align: 			center;
	margin: 				0 auto;
	padding:				2px 0 0 0;
	
}

.downloadButton {
	display:				block;
	position:				relative;
	height:					20px;
	width:					265px;
	background: 			#FFFFFF url(../images/iphone/download_button.png) no-repeat;
	font-family:			Helvetica, Arial, sans-serif;
	font-size:				1.8em;
	color:					#FFFFFF;
	font-weight:			bold;
	padding:				12px 0 12px 0;
	margin:					12px 28px 0 28px;
}

a.downloadButton:hover {
	text-decoration:		none;
}


 /* HEADER
--------------------------------------------------------------------*/
#header {
	height:					39px;
	background: 			#FFFFFF url(../images/iphone/bg_header.png) repeat-x 0 0;
}
#header div.wrapper {
	height:					39px;
	background: 			#FFFFFF url(../images/iphone/bg_header.png) repeat-x 0 0;
}

#header #logo {
	position:				absolute;
	left:					7px;
	top:					5px;
}
#header #logo img {
	display:				block;
}

#header #headline {
	position:				absolute;
	left:					100px;
	top:					18px;
}


 /* #footer
--------------------------------------------------------------------*/
#footer {
	clear:					both;
	padding:				0 0 40px 0;
}
#footer div.wrapper {
	border-top:				1px solid #d1dde0;
}
#footer p {
	font-size:				1.2em;
	line-height:			1.5em;
	color:					#737373;
	padding:				13px 0 0 17px;
}

table {
	border-collapse:		collapse;
	border-spacing: 		0;
}  


.clearfix:after {
    content: 				"."; 
    display: 				block; 
    height: 				0; 
    clear: 					both; 
    visibility: 			hidden;
}
.clearfix {
	min-width: 				0;
}