<% title "Register" %>
	
<%= render :partial => 'form', :locals => { :title => 'Register'} %>

<br />
<p style="font-size: 1.2em">
	Or sign in with facebook
</p>
<%= authlogic_facebook_login_button %>
