

<style>
h1 { 
	font-family: Arial, Helvetica, sans;
	font-size: 24px;
}
p { 
	font-family: Arial, Helvetica, sans;
	font-size: 15px;
}
a { 
	color:#00b4ea;
}
</style>

<h1>Thank you</h1>

<p>
Thanks for signing up for the Chiive private beta.
<br/>
We'll be sending out invites soon.
</p>
<p>
In the meantime stay in touch:
<br/>
<a href="http://www.facebook.com/pages/Chiive/351110615641?ref=ts">Facebook</a>
<br/>
<a href="http://twitter.com/ChiiveApp">Twitter</a>
</p>

<p>
Chiive, the smarter way to share photos.
</p>
