
<style>
h1 { 
	font-family: Arial, Helvetica, sans;
	font-size: 24px;
}
p { 
	font-family: Arial, Helvetica, sans;
	font-size: 15px;
}
a { 
	color:#00b4ea;
}
</style>

<img src="http://chiive.com/images/email_logo.jpg" width="122" height="73"/>

<h1>Welcome <%= @user.first_name %>!</h1>

<p>
Thanks for joining Chiive.
<br/>
We hope you enjoy the ride.
</p>
<p>
You can also stay in touch:
<br/>
<a href="http://www.facebook.com/pages/Chiive/351110615641?ref=ts">Facebook</a>
<br/>
<a href="http://twitter.com/ChiiveApp">Twitter</a>
</p>

<p>
Chiive, the smarter way to share photos.
</p>
