<%
@title = "Thank You!"
%>
<h1>Receive Updates</h1>

<div id="getupdates">

	<p class="intro">Thanks for signing up <%=h @subscriber.first_name %>!</p>
	
	<p>Your email address, <span class="dark"><%=h @subscriber.email %></span>, was successfully added.</p>
	
	<p>We’ll keep you updated on the latest at Chiive<br />(and promise not to send too many emails.)</p>
	
</div>