<%
@title = "Home"
@page_type = "home"
%>
	<h1>All Your Friends. One Camera.</h1>
	
	<img src="/images/copy/camera.png" alt="" class="intro" />
	
	<p class="intro">Automatically create real-time photo galleries<br/> based on where you are and whom you're with. <br/><a href="/iphone" target="_blank">Get it on iTunes</a>.</p>
	
	<p id="btn_appstore"><a href="/iphone" target="_blank">Available on the iPhone App Store</a></p>
	
	<h2>How does it work?</h2>
	
	<ol id="how">
		<li class="no1">1. Take a photo using Chiive.</li>
		<li class="no2">2. Using Chiive, your friends join <br/>the event and take photos.</li>
	  	<li class="no3 nomargin">3. Everyone gets everyone's photos!</li>
    </ol>