<div class="comments" style="margin-top:30px;">

		<p class="comments_head">
			<b>Comments <%= commentable.comments.count %></b>
		</p>
		
		<div class="comments_ul">
	
			<% commentable.comments.each do |comment| %>
	
				<div class="comments_li <%= (current_user == comment.user)?"comment_owned":"" %>">
					<%= render :partial => 'comments/details', :locals => { :comment => comment } %>
				</div>
		
			<% end %>
	
		</div>
		
		<div class="comments_add" style="margin-top:30px;">
			<%= render :partial => 'comments/form', :locals => { :comment => commentable.comments.build, :redirect_url => redirect_url } %>
		</div>
			
</div>

<div class="clear"><!-- --></div>
