<div id="info">
  <%= image_tag 'copy/thumb_50x50.jpg' %>
	
	<p class="by"><strong>John Smith</strong> posted</p>
	
	<h1>Daniel’s Birthday Night in the Mission</h1>
	
	<p class="count">
	  <strong><%= pluralize User.count, 'person' %></strong>
	  took
	  <strong><%= pluralize Photo.count, 'photo' %></strong>
	</p>
</div>

<div id="photodetail">
	<div id="ajaxloader" style="display: none;">&nbsp;</div>
	<div id="photo_container" class="photocontent">
    <%= render 'photo' %>
  </div>
</div>
