<%
@title = "Stay in Touch"
%>
<h1>Receive Updates</h1>

<div id="getupdates">

	<p class="intro">Sign up for updates and get all the latest Chiive news!</p>
	
	<% form_for(@subscriber) do |f| %>
	  <%= f.error_messages %>
		<div>
			<%= f.text_field :first_name, :class => 'type_text required isNot', :value => 'First Name (Required)', 'data-value' => 'First Name (Required)'  %>
			
			<%= f.text_field :last_name, :class => 'type_text', :value => 'Last Name', 'data-value' => 'Last Name' %>
			
			<%= f.text_field :email, :class => 'type_text required email', :value => 'Email Address (Required)', 'data-value' => 'Email Address (Required)' %>
			
			<input type="image" src="/images/copy/btn_submit.png" alt="Submit" value="Submit" class="submit" />
					
			<p class="spam">We hate spam and will NEVER send it.</p>
		</div>
	<% end %>
	
</div>
