<div id="comments">
  <% unless commentable.comments.blank? %>
    <span class="blurb">&nbsp;</span>
    <% commentable.comments.each do |comment| %>
      <%= render 'comments/comments.fbml', :comment => comment %>
    <% end %>
  <% end %>
</div>

<div id="postcomment">
  <%= render 'comments/form.fbml',
        :comment      => commentable.comments.build,
        :redirect_url => request.request_uri
  %>
</div>
