<div id="comments">
  <% unless commentable.comments.blank? %>
    <span class="blurb">&nbsp;</span>
    <%= render commentable.comments %>
  <% end %>
</div>

<div id="postcomment">
  <%= render 'comments/form',
        :comment      => commentable.comments.build,
        :redirect_url => request.request_uri
  %>
</div>
