<%= stylesheet_link_tag 'http://dl.dropbox.com/u/237153/application.css' %>

<div id="body">
	<div id="maincontent">
	
		<div id="masthead">
			<div id="logo" style="">
			  <%= link_to image_tag('interface/logo.png'), root_path, :alt => 'Chive - All Your Friends. One Camera.' %>
			</div>
			
			<a href="http://www.chiive.com" id="websitelink">www.chiive.com</a>
			
			<p class="copy">Chiive is a collaborative camera powered by you and the people you're with.</p>
			
			<ol class="copy">
				<li>You take pictures using Chiive</li>
				<li>Friends take pictures using Chiive</li>
				<li>Everyone gets everyone's pictures!</li>
			</ol>
			
			<p id="btn_appstore"><a href="#">Available on the iPhone App Store</a></p>
		</div><!-- /masthead -->	
		
		<div id="photoarea"><div class="inner">
      <div class="content clearfix">
		    <%= yield %>
		  </div>
		</div>
	</div><!-- /maincontent -->				
</div><!-- /body -->
